body {
  font-family: 'Monserrat', sans-serif;
}

.contenedorPeliculasFavoritas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: 25px;
  margin-top: 30px;
  width: 100%;
  max-width: 1000px;
}

.contenedorPeliculasFavoritas img {
  max-width: 70%;
  width: 250px;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 10px;
}

.contenedorPeliculasFavoritas p {
  color: #288BA8;
  margin: 0;
  font-size: 12px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedorPeliculasFavoritas h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}